*{
    margin:0px;padding:0px;
}
html,body{
    width:100%;
    height:100%;
    font-family: Arimo, sans-serif;
}


#wrapper{
    width:100%;
    height:100%;
}

#drop-zone{
    width:100%;
    min-height:100%;
    background-repeat: repeat-y;
    
}


.browse-movie-wrap {
  margin-bottom: 15px;
}

.browse-movie-bottom {
    margin: 0 auto;
    padding: 0 5px;
    max-width: 220px;
    text-align: left;
}

/*@media (min-width: 992px)
.browse-movie-title {
    font-size: .95em;
}*/
.browse-movie-title, .browse-movie-title:focus, a{
    color: #fff;
    font-weight: 400;
    display: block;
    transition: color .15s ease-in-out;
    -moz-transition: color .15s ease-in-out;
    -webkit-transition: color .15s ease-in-out;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    text-align: center;

}

.browse-movie-year {
    font-size: .85em;
    color: #919191;
    text-align: center;
}

.browse-movie-link {
    display: inline-block;
    max-width: 220px;
    border: 5px solid #fff;
    transition: border .15s ease-in-out;
    -moz-transition: border .15s ease-in-out;
    -webkit-transition: border .15s ease-in-out;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    font-size: 24px;
}

figure {
    overflow: hidden;
    position: relative;
    width: 210px;
    height: 275px;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

figure img {
    width: 100%;
    transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -webkit-transition: opacity .15s ease-in-out;
}

img {
    vertical-align: middle;
}

figcaption {
    color: white;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    transition-delay: 100ms;
    padding-top: 20px;
    background-color:rgba(0,0,0,.75);
}
/*#overlay    {  background:rgba(0,0,0,.75);
               text-align:center;
               padding:45px 0 66px 0;
               opacity:0;
               -webkit-transition: opacity .25s ease;
-moz-transition: opacity .25s ease;}*/

figcaption span.icon-star {
    position: relative;
    width: 100%;
    color: #6ac045;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}

figure figcaption .rating {
    margin-bottom: 20px;
}
figure figcaption h4 {
    font-size: 25px;
    position: relative;
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-weight: bold;
    color: #fff;
}

figure figcaption h5 {
  color: #fff;
  margin-bottom: 0px;
}

.browse-content figure figcaption .button-green-download-big {
    margin-top: 20px;
}
.button-green-download-big {
    background: #6ac045;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    display: block;
    font-weight: bold;
    color: #fff;
    top: 35px;
    font-size: 16px;
    position: relative;
    width: 130px;
    padding: 7px 0;
    margin: 0 auto;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}

/*@media (min-width: 1200px)
.col-lg-4 {
    width: 20%;
}*/

a {
    text-decoration: none !important;
}


.browse-movie-link:hover { border-color: #6ac045; }

.browse-movie-link:hover figcaption { 
    -moz-transform: translateY(40px);
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
    opacity: 1;
}



input {
  border:solid 1px #ccc;
  border-radius: 5px;
  padding:7px 14px;
  margin-bottom:10px
}
input:focus {
  outline:none;
  border-color:#aaa;
}


/*
.loader:before,
.loader:after,
.loader {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #ffffff;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

*/
