/** {
  color: #fff;
  background: #000;
}*/

body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 15px;
  background: #000;
  background-image: url(http://www.transparenttextures.com/patterns/dark-wood.png);
}

/* begin sticky footer.css override */
.footer {
  font-size: 10px;
  background-color: #000;
  color: #fff;
  background-image: url(http://www.transparenttextures.com/patterns/dark-wood.png);
}
/* end sticky footer.css override */

#center-content {
  font-family: 'Fira Sans', sans-serif;
  margin-top: 250px;
  font-size: 18px;
  color: #fff;
}

#upload-icon {
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 1s;
  -webkit-animation-iteration-count: infinite;
}

.logo {
  font-family: 'Fira Sans', sans-serif;
  font-size: 28px;
  color: #fff;
}

.logo-icon {
  font-size: 25px;
}

#hwItWrks{
  color: #fff;
  font-size: 28px;
  margin-top: 8px;
}

/* begin container-fluid override*/
.container-fluid {
  padding: 30px;
}
/* end container-fluid override*/

.modal-font {
  color: #000 !important;
}

.modal-close {
  margin-left: 526px;
  margin-bottom: 5px;
}

.figure {
  /*height:275px; 
  width: 210px;*/
  border: 5px solid;
}

.movie-bottom {
  /*padding-left: 30px;*/
  margin-top: 10px;
}

/* unvisited link */
a:link {
    color: #fff;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #fff;
}

/* mouse over link */
a:hover {
    color: #fff;
}

/* selected link */
a:active {
    color: #fff;
}

a {
  color: #fff;
}

.movie-col {
  text-align: center;
  margin-bottom: 20px;
}

/*figcaption {
    color: white;
    height: 75%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    width: 194px;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    transition-delay: 100ms;
    padding-top: 20px;
    background-color:rgba(0,0,0,.75);
    text-align: center;
    /*margin-left: 56px;*/
/*}*/

/*figcaption span.icon-star {
    position: relative;
    width: 100%;
    color: #6ac045;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}*/

.browse-movie-link{
  display:inline-block;
  max-width:220px;
  transition:border .15s ease-in-out;
  -moz-transition:border .15s ease-in-out;
  -webkit-transition:border .15s ease-in-out;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  font-size:24px
}

figure{
  overflow:hidden;
  position:relative;
  width:100%;
  margin:0
}

figure img{
  width:100%;
  transition:opacity .15s ease-in-out;
  -moz-transition:opacity .15s ease-in-out;
  -webkit-transition:opacity .15s ease-in-out
}

figcaption{
  color:white;
  height:100%;
  left:0;
  opacity:0;
  position:absolute;
  right:0;
  top:0;
  z-index:2;
  width:100%;
  -webkit-transition:all 300ms;
  -moz-transition:all 300ms;
  transition:all 300ms;
  -webkit-transition-delay:100ms;
  -moz-transition-delay:100ms;
  transition-delay:100ms;
  background-color:rgba(0,0,0,.75);
  padding-top:20px
}

figure figcaption .rating {
    margin-bottom: 20px;
}
figure figcaption h4 {
    font-size: 25px;
    position: relative;
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-weight: bold;
    color: #fff;
}

figure figcaption h5 {
  color: #fff;
  margin-bottom: 0px;
}

figcaption .button-green-download-big {
    margin-top: 20px;
}

.button-green-download-big {
    background: #6ac045;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    display: block;
    font-weight: bold;
    color: #fff;
    top: 35px;
    font-size: 16px;
    position: relative;
    width: 130px;
    padding: 7px 0;
    margin: 0 auto;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}

.browse-movie-link:hover figcaption { 
    -moz-transform: translateY(40px);
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
    opacity: 1;
}

/*.btn-color {
  display: inline-block;
  background-color: #000;
  border-color: #000;
  margin-left: 574px;
}*/

.spinner {
  display: inline-block;
  color:#000;
  margin-left: 586px;
}

.loader:before,
.loader:after,
.loader {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #ffffff;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

#movie-grid {
  visibility: hidden;
  display: none;
  padding-top: 75px;
}

#loaderDiv {
  visibility: hidden;
  display: none;
}

.form-control {
  width: 60% !important;
  color: #fff !important;
}

.btn-default {
  color: #fff !important;
  background: #000 !important;
}

.btn-default:hover {
  color :#c5b7b7 !important;
}

.default-header {
  background: #000 !important;
}

.dropdown-menu {
  color: #fff !important;
  background: #000 !important;
}

.dropdown-menu>li>a {
  color: #fff !important;
}

.dropdown-menu>li>a:hover {
  color: #000 !important;
}

.multiselect-container>li>a>label.checkbox:hover{
  color: #000 !important;
}

.multiselect-container {
    height: 160px;  
    overflow-y: scroll;  
}

.movie-year{
  color: #fff;
}

/* overide btn-default*/
.btn-default {
  color:#fff;
}
